<div class="answer">
  <p>Answer: {{answer.content}}</p>
  <p class='author'>Author: {{answer.author}}</p>
  <h3>Votes: {{answer.votes}}</h3>
  <button {{action 'upvote' answer}}>Upvote</button>
  <button {{action 'downvote' answer}}>Downvote</button>
</div>
