{{#if addNewAnswer}}
  <h6>Your Answer</h6>
  <form>
    <div class="input-field">
      {{input value=author id="author" placeholder="Author"}}
    </div>
    <div class="input-field">
      {{input value=content id="content" placeholder="Your Answer Here"}}
    </div>
    <button class="btn"{{action 'saveAnswer'}}>Answer!</button>
  </form>
{{else}}
  <button class=
  "btn" {{action 'answerFormShow'}}>Your Answer</button>
{{/if}}
