{{#if addNewQuestion}}
  <h3>New Question</h3>
  <form>
    <div class="input-field">
      {{input value=author id="author" placeholder="Your Name"}}
    </div>
    <div class="input-field">
      {{input value=content id="content" placeholder="Your Question Here"}}
    </div>
    <div class="input-field">
      {{input value=notes id="notes" placeholder="Extra Notes"}}
    </div>
    <div class="input-field">
      {{input value=tag id="tag" placeholder="Tag"}}
    </div>
    <button {{action 'saveQuestion'}}>Ask!</button>
  </form>
{{else}}
  <button {{action 'questionFormShow'}}>New Question</button>
{{/if}}
