<h3>Author: {{question.author}}</h3>
<h3>Question: {{question.content}}</h3>
<h3>Additional Notes: {{question.notes}}</h3>
<h3>Tag: {{question.tag}}</h3>
<button {{action 'deleteQuestion' question}}>Delete Question</button>

{{#each question.sorted_answers as |answer|}}
  {{answer-tile answer=answer upvote="upvote" downvote="downvote"}}
{{/each}}
{{edit-question question=question updateQuestion="updateQuestion"}}
