<div class="row">
  <div class="question-detail">
    <h5>{{question.content}}</h5>
    <div class="question">
      <p>{{question.notes}}</p>
      <p class='author'>{{question.author}}</p>
      <span class="category">{{question.tag}}</span>
  </div>
</div>

  <div class="row">
    <div class="col s4">
      {{edit-question question=question updateQuestion="updateQuestion"}}
    </div>
    <div class="col s4">
      <button class="btn" {{action 'deleteQuestion' question}}>Delete Question</button>
    </div>
  </div>
</div>

<div class="row">
  <h5>Answers</h5>
  {{#each question.sorted_answers as |answer|}}
    {{answer-tile answer=answer upvote="upvote" downvote="downvote"}}
  {{/each}}
</div>
