<h5>{{question.content}}</h5>
<div class="question">
  <p>{{question.notes}}</p>
  <p class='author'>{{question.author}}</p>
  <span class="category">{{question.tag}}</span>
  {{edit-question question=question updateQuestion="updateQuestion"}}
  <br>
  <button {{action 'deleteQuestion' question}}>Delete Question</button>
</div>

<h5>Answers</h5>
{{#each question.sorted_answers as |answer|}}
  {{answer-tile answer=answer upvote="upvote" downvote="downvote"}}
{{/each}}
